extends layout

block content
  h1 #[strong Manufacturer: ] #{manufacturer.name}
  p #{manufacturer.description}
  
  div(style='margin-left:20px;margin-top:20px')
    
    h4 Items
    
    dl
      each item in manufacturer_items
        dt
          a(href=item.url) #{item.name}
        dd #{item.description}
      else
        p This manufacturer has no items.
  
  hr
  p
    a(href=manufacturer.url+"/delete") Delete
  p
    a(href=manufacturer.url+"/update") Update